# при npx drizzle-kit pull --config=drizzle.config.inmarta.ts
# при npx drizzle-kit pull --config=drizzle.config.iimarta.ts
# при npx drizzle-kit pull --config=drizzle.config.imartap.ts
DATABASE_URL= #DB Connection string Mysql mysql://username:password@host:port/<database>, като базата се добавя динамично! #Required
DATABASE_URL_iimarta= #целият string
DATABASE_URL_imartap= #целият string

BETTER_AUTH_SECRET= #Better Auth Secret #Required; Random secure string; It's used for salting the sensitive user info.
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app #Required

GOOGLE_CLIENT_ID= #Google Client ID
GOOGLE_CLIENT_SECRET= #Google Client Secret

GITHUB_CLIENT_ID= #Github Client ID
GITHUB_CLIENT_SECRET= #Github Client Secret

WITH_MAGIC_LINK= # boolean; Magic Link auth in Better-auth
RESEND_API_KEY= #Resend API Key
SENDER_EMAIL= #Email address to send from

CLOUDFLARE_ACCOUNT_ID= #if you need images hosting
CLOUDFLARE_IMAGES_BEARER= #if you need images hosting